<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1 ,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta content="telephone=no" name="format-detection">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="keywords" content="IC服务平台">
	<meta name="description" content="IC服务平台">
	<link rel="stylesheet" href="css/sm.css">
	<link rel="stylesheet" href="css/sm-extend.css">
	<link rel="stylesheet" href="css/mobile-base.css">
	<link rel="stylesheet" href="css/mobile-index.css">
	<script src="js/zepto.js"></script>
	<script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js,flexible.js"></script>
</head>
<body>
	<div class="page-group">
	<div class="page" id="mproduct">
	<header class="bar bar-nav">
		<a class="icon icon-left pull-left back"></a>		
		<a class="icon icon-menu pull-right open-panel" data-panel='#side-nav' href="javascript:;" ></a>
		<h1 class="title">{{title}}</h1>
	</header>

	<!-- 菜单栏 -->
	<div class="panel-overlay"></div>
	<div class="panel panel-right panel-cover theme-white" id='side-nav'>
	  <div class="content-block">
	  	<a href="m_login.html">
	  		<div class="user-login">
	  		<img src="images/pic2.jpg" alt="">
	  		<!-- 如果未登录显示图标
	  		<span class="icon icon-me" style="position:absolute; font-size:1rem;top:1rem;right:1.1rem"></span> 
	  		-->
	  		</div>
	  		<div>请登录/用户名</div>
	  	</a>
	    <ul class="content-padded">
	    	<li><a class="active close-panel" href="m_product_list.html">在线交易</a></li>
	    	<li><a class="close-panel" href="m_finance_index">金融服务</a></li>
	    	<li><a class="close-panel" href="m_job_index.html">人才服务</a></li>
	    	<li><a class="close-panel" href="m_train_index.html">培训服务</a></li>
	    	<li><a class="close-panel" href="m_package_index.html">设计众包</a></li>
	    </ul>
	    <div class="icon icon-home"><a class="close-panel" href="/">返回首页</a></div>  
	  </div>
	</div>

	<div class="content pull-to-refresh-content notopbar" data-ptr-distance="55">
		<!-- 下拉刷新层 -->
    <div class="pull-to-refresh-layer">
        <div class="preloader"></div>
        <div class="pull-to-refresh-arrow"></div>
    </div>
		<!-- 搜索框 -->
	  <div class="searchbar">
	    <a class="searchbar-cancel">取消</a>
	    <div class="search-input">
	      <label class="icon icon-search" for="search"></label>
	      <input type="search" id='search' placeholder='搜索'/>
	    </div>
	  </div>
		
		<!-- banner -->
		  <div class="swiper-container" >
		    <div class="swiper-wrapper">
		      <div class="swiper-slide"><img src="images/m-product-banner.jpg"></div>		      
		    </div>
		  </div>
			<!-- 列表 -->			
			<div class="product-list">
				<div class="buttons-tab" >
				    <a href="#tab1" class="tab-link active button"><span>{{tab[0]}}</span></a>
				    <a href="#tab2" class="tab-link button"><span>{{tab[1]}}</span></a>
				 </div>
				
				<div class="tabs content-padded">			      
			      <div id="tab1" class="tab infinite-scroll active">
			          <div class="list-block ">
			          <!-- 产品 -->
			          <div class="select">
				          <a v-for="t in productSelect" :class="{'on':t.active}"  @click="">{{t.name}}</a>
					  </div>
			            <ul class="list-container row">
			              <li v-for="plist in productlist" class="col-50">
				              <a href="./m_product_detail.html">
					              <img :src="plist.pic" :alt="plist.name">
					              <div class="info">
					              	{{plist.name}}
					              	<p>{{plist.price | currency '￥'0}}<a href="#" class="buy pull-right">点击购买</a></p>
					              </div>
				              </a>
			              </li>				              
			            </ul>
			          </div>
			          <!-- 加载提示符 -->
			          <div class="infinite-scroll-preloader">
			            <div class="preloader">
			            </div>
			          </div>
			      </div>
			      <div id="tab2"  class="tab infinite-scroll">
			          <div class="list-block project">
			          <!-- 项目 -->
			          	<div class="select order">
			          		项目条件：
					        <a v-for="c in projectSelect[0].class" :class="{'on':c.active}"  @click="">{{c.name}}</a>
						</div>
						<div class="select order">
							综合排序：
					        <a v-for="o in projectSelect[0].order" :class="{'on':o.active}"  @click="">{{o.name}}</a>
						</div>
			            <ul class="list-container">
			              
			              <li v-for="jlist in project">
			              	<a href="./m_product_detail.html">
			              	<img :src="jlist.pic" >
			              	<div class="pull-left media-body">
			              		<div class="tit">{{jlist.name}}</div>
								<div class="price">{{jlist.price | currency '￥'0}}</div>
								<div class="buy pull-left"><a href="#">购买</a></div>
								<div class="customized pull-left"><a href="#">定制</a></div>
			              	</div>
			              	</a>
			              </li>
			              
			              
			            </ul>
			          </div>
			          <!-- 加载提示符 -->
			          <div class="infinite-scroll-preloader">
			            <div class="preloader">
			            </div>
			          </div>
			      </div>
			    </div>				
			</div>
		

			<div class="gotop"></div>
			<footer class="foot">
				<p>Copyright©2016|无锡德思普科技有限公司.All Rights Reserved.苏ICP备110718</p>
			</footer>


	<script>
		// 数据
			var data = {
				'title':'产品中心',				
				'tab':['产品','项目'],
				'productSelect':[
					{'name':'全部产品','active':true},
					{'name':'IC芯片','active':false},
					{'name':'EDA工具','active':false},
					{'name':'开发版','active':false},
					{'name':'IP核','active':false},
					{'name':'应用工具','active':false}
				],
				'projectSelect':[
					{"class":[
						{'name':'全部','active':true},
						{'name':'精彩项目','active':false},
						{'name':'售卖项目','active':false},
						{'name':'定制项目','active':false}						
						],					
					"order":[
						{'name':'不限','active':true},
						{'name':'综合','active':false},
						{'name':'时间','active':false},
						{'name':'人气','active':false}
						]
					}
				],
			    'productlist': [
				    {'name':'思南物联SNIOT506','id':'24','price':'299','pic':'images/pic8.jpg'},
				    {'name':'思南物联SNIOT506','id':'25','price':'299','pic':'images/pic8.jpg'},
				    {'name':'思南物联SNIOT506','id':'26','price':'299','pic':'images/pic8.jpg'},
				    {'name':'思南物联SNIOT506','id':'27','price':'299','pic':'images/pic8.jpg'},
				    {'name':'思南物联SNIOT506','id':'28','price':'299','pic':'images/pic8.jpg'},
				    {'name':'思南物联SNIOT506','id':'29','price':'299','pic':'images/pic8.jpg'},
				],
				'project': [
				    {'name':'小e智能硬件开发平台：首款微信语音控制开源平台','id':'24','price':'299','pic':'images/pic7.jpg'},
				    {'name':'小e智能硬件开发平台：首款微信语音控制开源平台','id':'25','price':'299','pic':'images/pic7.jpg'},
				    {'name':'小e智能硬件开发平台：首款微信语音控制开源平台','id':'26','price':'299','pic':'images/pic7.jpg'},
				    {'name':'小e智能硬件开发平台：首款微信语音控制开源平台','id':'27','price':'299','pic':'images/pic7.jpg'},
				    {'name':'小e智能硬件开发平台：首款微信语音控制开源平台','id':'28','price':'299','pic':'images/pic7.jpg'},
				    {'name':'小e智能硬件开发平台：首款微信语音控制开源平台','id':'29','price':'299','pic':'images/pic7.jpg'},
				] 
			}

			
	</script>


	</div>
	</div>
	</div>
	<script type='text/javascript' src='js/sm.js' charset='utf-8'></script>
	<script type='text/javascript' src='js/sm-extend.js' charset='utf-8'></script>
	<script src="js/app.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/vue.js"></script>
</body>
</html>